<launch>
  <node name="elfin_rqt_state" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find elfin_launch)/time_delay_controller/joint1_state.perspective"/>

  <node name="elfin_rqt_error" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find elfin_launch)/time_delay_controller/joint1_error.perspective"/>
</launch>

